#bloc_force_mdp > span {
    display: inline-block;
}

.mdpInvalide {
    background-color: red;
    width: 18px;
    height: 7px;
    border: black solid 1px;
    border-radius: 28%;
}

.mdpOkk {
    background-color: orange;
    width: 18px;
    height: 7px;
    border: black solid 1px;
    border-radius: 28%;
}

.mdpMoyen {
    background-color: yellow;
    width: 18px;
    height: 7px;
    border: black solid 1px;
    border-radius: 28%;
}

.mdpFort {
    background-color: green;
    width: 18px;
    height: 7px;
    border: black solid 1px;
    border-radius: 28%;
}

.forceMdp {
    width: 18px;
    height: 7px;
    border: black solid 1px;
    border-radius: 28%;
}